<!-- add_vehicle.html -->
{% extends 'base.html' %}

{% block content %}
  <h1>Add Vehicle</h1>

  <form method="POST" action="{{ url_for('add_vehicle') }}">
    {{ form.hidden_tag() }}

    {{ form.make.label }}
    {{ form.make(class="form-control") }}

    {{ form.model.label }}
    {{ form.model(class="form-control") }}

    {{ form.registration_plate.label }}
    {{ form.registration_plate(class="form-control") }}

    {{ form.submit(class="btn btn-primary") }}
  </form>

  <a href="{{ url_for('sacco_admin_dashboard') }}">Back to Dashboard</a>
{% endblock %}
