{% extends 'base.html' %}

{% block content %}
  <h2>View Vehicles</h2>
  <table class="table">
    <thead>
      <tr>
        <th>Make</th>
        <th>Model</th>
        <th>Registration Plate</th>
        <th>Capacity</th>
        <th>Driver</th>
      </tr>
    </thead>
    <tbody>
      {% for vehicle in vehicles %}
        <tr>
          <td>{{ vehicle.make }}</td>
          <td>{{ vehicle.model }}</td>
          <td>{{ vehicle.registration_plate }}</td>
          <td>{{ vehicle.capacity }}</td>
          <td>{{ vehicle.driver.first_name }} {{ vehicle.driver.last_name if vehicle.driver else 'N/A' }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
