{% extends 'base.html' %}

{% block title %}500 Internal Server Error{% endblock %}

{% block content %}
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-8 offset-md-2 text-center">
                <h1 class="display-4 text-danger mb-4">Internal Server Error</h1>
                <p class="lead">Oops! Something went wrong on our end.</p>
            </div>
        </div>
    </div>

    <div class="container mt-5"> <!-- Increase margin-top here -->
        <div class="row">
            <div class="col-md-6 offset-md-3 text-center">
                <p class="text-muted mt-4">
                    We apologize for the inconvenience. Please try the following:
                </p>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Reload the page</li>
                    <li class="list-group-item">Check your internet connection</li>
                    <li class="list-group-item">Contact support for assistance</li>
                </ul>
                <p class="text-muted mt-4">
                    If the issue persists, our team has been notified and is actively working on a solution.
                    Thank you for your patience.
                </p>
                <a class="btn btn-danger btn-lg mt-3" href="/" role="button">Go to Home</a>
            </div>
        </div>
    </div>
{% endblock %}
