{% extends "base.html" %}

{% block content %}
    <h1>List of Routes</h1>

    <ul>
        {% for route in routes %}
            <li>
                <a href="{{ url_for('route_detail', route_id=route.id) }}">
                    {{ route.name }} ({{ route.origin }} to {{ route.destination }})
                </a>
                {% if route.vehicles %}
                    <ul>
                        {% for vehicle in route.vehicles %}
                            <li>
                                Sacco: {{ vehicle.sacco.name }} - Vehicle: {{ vehicle.name }}
                            </li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <p>No vehicles associated with this route.</p>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
{% endblock %}
