<!-- user/book_ticket.html -->
{% extends 'base.html' %}

{% block content %}
  <div class="container mt-5">
    <div class="row">
      <div class="col-lg-6">
        <div class="card">
          <div class="card-body">
            <h2 class="card-title mb-4">Book a Ticket</h2>
            <form method="post" action="{{ url_for('book_ticket', schedule_id=travel_schedule.id) }}">
              {{ form.csrf_token }}
              <div class="form-group">
                <label for="seat_number">Select Seat:</label>
                {{ form.seat_number(class="form-control", placeholder="Select Seat", required="required") }}
              </div>
              {{ form.submit(class="btn btn-primary") }}
            </form>
          </div>
        </div>
      </div>

      <div class="col-lg-6">
<!--        <div class="card">-->
<!--          <div class="card-body">-->
<!--            <h5 class="card-title mb-4">Available Seats:</h5>-->
<!--            <ul class="list-group list-group-flush">-->
<!--              {% for seat in available_seats %}-->
<!--                <li class="list-group-item">{{ seat }}</li>-->
<!--              {% endfor %}-->
<!--            </ul>-->
<!--          </div>-->
<!--        </div>-->

        {% if booked_seats %}
          <div class="card mt-4">
            <div class="card-body">
              <h5 class="card-title mb-4">Booked Seats:</h5>
              <p class="card-text">{{ booked_seats }}</p>
            </div>
          </div>
        {% endif %}

        <script>
          var bookedSeats = {{ booked_seats|tojson|safe }};
          var seatDropdown = document.getElementById("seat_number");

          bookedSeats.forEach(function(bookedSeat) {
            var optionToRemove = seatDropdown.querySelector('option[value="' + bookedSeat + '"]');
            if (optionToRemove) {
              optionToRemove.remove();
            }
          });
        </script>
      </div>
    </div>
  </div>
{% endblock %}
