{% extends 'base.html' %}

{% block title %}Bus Ticket{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="card">
        <div class="card-header bg-info text-white text-center">
            <h2 class="mb-4">Ticketsphere</h2>
            <h4>Bus Ticket</h4>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-6">
                    <h3>Travel Schedule Information</h3>
                    <ul class="list-group">
                        <li class="list-group-item"><strong>Departure Location:</strong> {{ schedule.departure_location }}</li>
                        <li class="list-group-item"><strong>Destination:</strong> {{ schedule.destination }}</li>
                        <li class="list-group-item"><strong>Departure Time:</strong> {{ schedule.departure_time.strftime('%Y-%m-%d %H:%M') }}</li>
                        <li class="list-group-item"><strong>Sacco:</strong> {{ schedule.vehicle.sacco.name }}</li>
                        <li class="list-group-item"><strong>Driver:</strong> {{ schedule.vehicle.driver.first_name }} {{ schedule.vehicle.driver.last_name }}</li>
                        <li class="list-group-item"><strong>Email:</strong> {{ schedule.vehicle.driver.email }}</li>
                    </ul>
                </div>
                <div class="col-md-6">
                    <h3>Your Information</h3>
                    <ul class="list-group">
                        <li class="list-group-item"><strong>Your Full Name:</strong> {{ current_user.first_name }} {{ current_user.last_name }}</li>
                        <li class="list-group-item"><strong>Your Email:</strong> {{ current_user.email }}</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="card-footer text-center">
            <a href="#" id="download-btn" class="btn btn-primary">Download Ticket</a>
        </div>
    </div>
</div>

{% block scripts %}
<script src="https://rawgit.com/eKoopmans/html2pdf/master/dist/html2pdf.bundle.js"></script>
<script>
    document.getElementById('download-btn').addEventListener('click', function () {
        var cardClone = document.querySelector('.card').cloneNode(true);
        cardClone.querySelector('.card-footer').remove(); // Remove the footer (download button)

        // Customize the styles for the downloaded PDF
        cardClone.style.width = '80%';
        cardClone.style.margin = 'auto';
        cardClone.style.padding = '20px';

        // Delay for a moment before generating the PDF to allow for rendering
        setTimeout(function () {
            html2pdf(cardClone);
        }, 100);
    });
</script>
{% endblock %}
{% endblock %}
